@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the Message Board! <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core Info Here</a>.</p>
</div>

@model MessageBoardModel 

 @using(Html.BeginForm())
{
    <table id="messageInput">
        <tbody>

<!-- This here will display the Child Row for existing Rows in the Parent model -->

            @foreach (var message in Model.ListAll())
            {
                  <tr>
                      @Html.Raw(message + System.Environment.NewLine)
                      <br/>
                 </tr>
            }
        </tbody>

    </table>
    }


<form
asp-action="PostMessage"
asp-asp-controller="Home"
method="post">
<div>
    <tr>
            <td><label for="messageInput">Type message...</label></td>
            <td><input type="textarea" name="messageInput" class="form-control" required></td>
    </tr>
</div>
<input type="submit" value="Submit">
</form>